body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#wrap{
    min-width: 1700px;
}

#container{
    position: relative;
    width:100%;
    height: 75%;
    display: block;
}

#content{
    position: relative;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 40px 30px;
    min-height: 1080px;
}