body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#container{
  position: fixed;
  width:100%;
  height: 75%;
  top:70px;
  left:0;
  display: block;
}

.content{
  position: relative;
  width: 1570px;
  height: 100%;
  margin: 0 auto;
  padding: 0 30px;
}