<link rel="stylesheet" type="text/css" href="css/footer.css">

<div id ="footer">
    <div class="footer_flex">
        <div class="footer_menu">
            <img src="images/CAN_logo.png" alt="CAN_logo">
        </div>
    </div>
</div>