<link rel="stylesheet" type="text/css" href="css/header.css">

<div id="header">
    <div class="group_flex">
        <div class="main_logo">
            <a href="/"><img src="images/PrisonVReak_logo2.png" alt="PrisonVReakLogo"></a>
        </div>
        <div class="top_menu">
            <ul>
                <li>
                    <input class="top_menu_li" type="button" value="게임정보" onclick="location.href=''">
                </li>
                <li>
                    <input class="top_menu_li" type="button" value="공지사항" onclick="location.href=''">
                </li>
                <li>
                    <input class="top_menu_li" type="button" value="커뮤니티" onclick="location.href=''">
                </li>
                <li>
                    <input class="top_menu_li" type="button" value="랭킹" onclick="location.href=''">
                </li>
                <li>
                    <input class="top_menu_li" type="button" value="고객지원" onclick="location.href=''">
                </li>
                <li>
                    <input class="top_menu_login" type="button" value="로그인/회원가입" onclick="location.href=''">
                </li>
            </ul>
        </div>
    </div>
</div>