<!DOCTYPE html>
<html>
  <head>
    <title>PrisonVReak</title>
    <link rel='stylesheet' href='css/container.css' />

  </head>
  <body>
      <div id="wrap">
        <%- include('partials/header')%>
        <div id="container">
          <div id="content">
            <div id="startup"></div>
            <a href="/game">play</a>
          </div>
        </div>
        <%- include('partials/footer') %>
        <script type="module" src="module/js/main.js"></script>
      </div>
  </body>
</html>
