<!DOCTYPE html>
<html>
  <head>
    <title>PrisonVReak</title>
    <link rel='stylesheet' href='stylesheets/container.css' />

  </head>
  <body>
    <%- include('header')%>
    <div id="container">
      <div class="content">
        <div id="startup"></div>
        <a href="/game">play</a>
      </div>
    </div>
    <%- include('footer') %>
    <script type="module" src="js/main.js"></script>
  </body>
</html>
