<!DOCTYPE html>
<html>
<head>
    <title>PrisonVReak</title>
    <link rel='stylesheet' href='css/container.css' />

</head>
<body>
<div id="wrap">
    <%- include('partials/header')%>
    <div id="container">
        <div id="content">

        </div>
    </div>
    <%- include('partials/footer') %>
    <script type="module" src=""></script>
</div>
</body>
</html>
